In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Reading the csv file
df = pd.read_csv('insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [3]:
#Looking at general info about data types. IT can be seen form the below info that there are no null values in teh data set.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
#Shuffle the data set for before starting woring with it
df = df.sample(frac = 1)

In [5]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [6]:
#Regression stats for the dataset (This is for Tatiana)
mod = smf.ols(formula = 'charges ~ age + sex + bmi + children + smoker + region', data = df)
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     500.8
Date:                Sun, 18 Jul 2021   Prob (F-statistic):               0.00
Time:                        17:38:14   Log-Likelihood:                -13548.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1329   BIC:                         2.716e+04
Df Model:                           8
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept           -1.194e+04    987.819    -12.086      0.000   -1.39e+04      -1e+04
sex[T.male]          -131.3144    332.945     -0.394      0.693    -784.470     521.842
smoker[T.yes]        2.385e+04    413.153     57.723      0.000     2.3e+04    2.47e+04
region[T.northwest]  -352.9639    476.276     -0.741      0.459   -1287.298     581.370
region[T.southeast] -1035.0220    478.692     -2.162      0.031   -1974.097     -95.947
region[T.southwest]  -960.0510    477.933     -2.009      0.045   -1897.636     -22.466
age                   256.8564     11.899     21.587      0.000     233.514     280.199
bmi                   339.1935     28.599     11.860      0.000     283.088     395.298
children              475.5005    137.804      3.451      0.001     205.163     745.838
==============================================================================
Omnibus:                      300.366   Durbin-Watson:                   1.912
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              718.887
Skew:                           1.211   Prob(JB):                    7.86e-157
Kurtosis:                       5.651   Cond. No.                         311.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

**R-squared vs Adjusted R-squared**: The adjusted R-squared is lower than the R-squared, which means that some independent variables are not contributing significantly to the model. This is confirmed by the p-value of *sex* dummy variable that is  much higher than  0.05, meanning that that variable does not have a big impact on changing the dependent variable 'charges' and most probably can be excluded from further analysis. <br>
**F-statistic and Prob(F-statistic)**: Both of these show that there is linear relationship between independent variables and dependent variable. This means that we can actually continue working with this data set. One thing which seems a bit suspicios is that Prob(F-statistic) = 0, which I assume happens very seldom. <br>
**P value of variables**: The p-value for *sex variable* is higher than alpha 0.05, which means that it has no  high significance for dependent variable "charges" and as mentioned above it can be excluded from further analysis. All other variables can be used in our analysis as those have p-value lower than 0.05, however the region dummy variables have p-value quite close to threshold and worth trying excluding those from futher analysis to see if the accuracy of the model would improve. <br>
**Skew**: The data set is skewed quite well to the right hand side. Assume there might be some outliers with significant values assuming that the kurtosis has quite high number. <br>
**Kurtosis**: According to kurtosis figure most of the data is concentrated around the mean and the peak is should be quite high. <br>