In [1]:
import numpy as np
import pandas as pd

In [3]:
db = pd.read_csv('diabetes.csv')

In [4]:
db

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [8]:
#Average value per each attribute grouped by types of Pregnancies
db.groupby(['Pregnancies']).mean()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,,,,,,,,
0,123.000000,67.153153,22.270270,81.675676,34.290090,0.520838,27.603604,0.342342
1,112.748148,67.792593,24.437037,98.674074,31.372593,0.486496,27.370370,0.214815
2,110.796117,63.252427,21.601942,85.844660,30.583495,0.491660,27.194175,0.184466
3,123.586667,66.586667,20.080000,87.453333,30.425333,0.432147,29.026667,0.360000
4,125.117647,70.029412,15.882353,69.441176,32.141176,0.446353,32.779412,0.338235
5,118.859649,76.210526,17.385965,57.298246,33.192982,0.396421,39.035088,0.368421
6,120.800000,68.420000,17.640000,63.580000,30.290000,0.429520,39.340000,0.320000
7,136.444444,70.777778,20.288889,84.466667,32.631111,0.443622,41.111111,0.555556
8,131.736842,75.184211,17.315789,92.815789,31.568421,0.504711,45.368421,0.578947
9,131.392857,77.892857,20.892857,62.428571,31.707143,0.550679,44.178571,0.642857
10,120.916667,70.208333,15.708333,34.791667,30.641667,0.454167,42.666667,0.416667
11,126.454545,74.181818,21.727273,65.454545,38.563636,0.522545,44.545455,0.636364
12,113.555556,76.333333,27.111111,112.555556,32.344444,0.444333,47.444444,0.444444
13,125.500000,73.800000,17.300000,27.900000,35.000000,0.463300,44.500000,0.500000
14,137.500000,70.000000,27.500000,92.000000,35.100000,0.312000,42.000000,1.000000
15,136.000000,70.000000,32.000000,110.000000,37.100000,0.153000,43.000000,1.000000
17,163.000000,72.000000,41.000000,114.000000,40.900000,0.817000,47.000000,1.000000

In [11]:
#Delete one column,but first save it seprately to recover it back after

In [ ]:
#1) Saving column that will be deleted
DPF_column = db['DiabetesPedigreeFunction'].values

In [13]:
#2) Delete column DiabetesPedigreeFunction
db = db.drop(['DiabetesPedigreeFunction'], axis = 1)

In [14]:
#Showing that it's not in the db anymore
db

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
0,6,148,72,35,0,33.6,50,1
1,1,85,66,29,0,26.6,31,0
2,8,183,64,0,0,23.3,32,1
3,1,89,66,23,94,28.1,21,0
4,0,137,40,35,168,43.1,33,1
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,63,0
764,2,122,70,27,0,36.8,27,0
765,5,121,72,23,112,26.2,30,0
766,1,126,60,0,0,30.1,47,1
767,1,93,70,31,0,30.4,23,0

In [15]:
#3) Recovering back column DiabetesPedigreeFunction
db['DiabetesPedigreeFunction'] = DPF_column

In [16]:
#Showing that it's back again in the db, but as the last column now
db

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome,DiabetesPedigreeFunction
0,6,148,72,35,0,33.6,50,1,0.627
1,1,85,66,29,0,26.6,31,0,0.351
2,8,183,64,0,0,23.3,32,1,0.672
3,1,89,66,23,94,28.1,21,0,0.167
4,0,137,40,35,168,43.1,33,1,2.288
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,63,0,0.171
764,2,122,70,27,0,36.8,27,0,0.340
765,5,121,72,23,112,26.2,30,0,0.245
766,1,126,60,0,0,30.1,47,1,0.349
767,1,93,70,31,0,30.4,23,0,0.315

In [19]:
# Shuffle the dataset
db = db.sample(frac=1)
db

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome,DiabetesPedigreeFunction
382,1,109,60,8,182,25.4,21,0,0.947
438,1,97,70,15,0,18.2,21,0,0.147
299,8,112,72,0,0,23.6,58,0,0.840
165,6,104,74,18,156,29.9,41,1,0.722
84,5,137,108,0,0,48.8,37,1,0.227
...,...,...,...,...,...,...,...,...,...
225,1,87,78,27,32,34.6,22,0,0.101
76,7,62,78,0,0,32.6,41,0,0.391
700,2,122,76,27,200,35.9,26,0,0.483
610,3,106,54,21,158,30.9,24,0,0.292
280,0,146,70,0,0,37.9,28,1,0.334

In [41]:
#Create new column as a flag for normal glucose /abnormal glucose level  and mapping it 
db['NormalGlucoseLevel'] = db['Glucose'].apply(lambda x : x < 200   and x > 80 ).map({True: 1, False: 0})

In [42]:
db

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome,DiabetesPedigreeFunction,NormalGlucoseLevel
382,1,109,60,8,182,25.4,21,0,0.947,1
438,1,97,70,15,0,18.2,21,0,0.147,1
299,8,112,72,0,0,23.6,58,0,0.840,1
165,6,104,74,18,156,29.9,41,1,0.722,1
84,5,137,108,0,0,48.8,37,1,0.227,1
...,...,...,...,...,...,...,...,...,...,...
225,1,87,78,27,32,34.6,22,0,0.101,1
76,7,62,78,0,0,32.6,41,0,0.391,0
700,2,122,76,27,200,35.9,26,0,0.483,1
610,3,106,54,21,158,30.9,24,0,0.292,1
280,0,146,70,0,0,37.9,28,1,0.334,1

In [45]:
#Calculating how many have normal glucose level and how many has abnormal level
db['NormalGlucoseLevel'].value_counts()

1    721
0     47
Name: NormalGlucoseLevel, dtype: int64